# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# NPM - Don't ignore .npmrc as it sets public registry

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Railway
.railway
