[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = ['npm config set registry https://registry.npmjs.org/', 'npm install']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npm start'
